extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 Passing data through to the view layer

  h3 First Name
  p= user.first_name

  h3 Surname
  p= user.surname

  h3 Address
  p= user.address

  h3 Facebook Friends
  p= user.facebook_friends
   section#wrapper
    h2 Basic Structure
    section
     p
      span This is a span within a p within a section
  
  h2 Form Example
   form(method='post', action='/')
    fieldset
     legend Add a user
      p
       label First name
       input(name='user[first_name]')
      p
       label Last name
       input(name='user[surname]')
      p
       input(type='submit', value= 'Save') 

  - var name = "Kaitlynn"
  h1 Hello #{name}!

  - movies = ['Into The Woods', 'Selma', 'Hobbit', 'Inherent Vice', 'Taken 3'];
  ul prolly gonna see a movie tonight
   each movie in movies
    li #{movie}
  
  - raining = false
  - if (raining)
   p It is raining. Take an umbrella!
  - else
   p No rain. Take the bike!

  script.
   //alert('Jade is crazy cause you can even do inline js')
   console.log('check it')

  include includes/footer

  mixin users(users)
   ul
    each user in users
     li= user
  - users = ['Kaitlynn', 'Larry', 'Sean', 'Phil', 'Jess']
  
  mixin users(users)
  - more_users = ['Mark', 'Elena', 'Dave', 'Pete', 'Keiron']
  mixin users(more_users)













